body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2A3F54;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
    color: #fff;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin h1 {
    color: #fff;
}

.form-signin p {
    color: #fff;
    opacity: 0.6;
}

.form-signin h4 {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.form-signin h4 a {
    color: #0dcaf0;
    text-decoration: none;
}

.form-signin h4 a:hover {
    color: #0d6efd;
}